<h1>Smart Hair Salon</h1>
<h5>Welcome to Smart Hair Salon!</h5>
<This app will allow Smart Hair Salon to keep track of their stylist and clients to better its services></p>

<a href="/stylists">View Stylist List</a>
<a href="/stylists/new">Add New Stylist</a>
