#if ($stylist)
  <h1>$stylist.getName() clients:</h1>
  <ul>
    #foreach($client in $stylist.getClients())
     <li>$client.getName()</li>
    #end
  </ul>
#else
  <em><p>Oops! We can't seem to find that Stylist.</p></em>
#end

<a href="/stylists/$stylist.getId()/clients/new">Add a new client</a>
<a href="/stylists">All stylists</a>
